
body{
  background-color: #f8f9fa;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.judul, .kepsion{
  color: #000000;
}
.row{
  background: #8fbc8f;
  color: #ffffff;
  padding: 50px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-brand{
  font-family: fantasy;
}
.terakhir{
  color: #ffffff;
}
